
/* || global */

body { 
    background-color: #444444; 
}

/* || forms and inputs */

.form-container {
    height: fit-content;
    padding: 1rem;
    border: 1px solid black;
    box-shadow: 0 0 10px 0px black;
}

.dark-input {
    background-color: #40454a;
    color: inherit;
    border: none;
    border-radius: 0;
    border-left: 3px solid white;
    outline: none;
}

.dark-input:focus {
    background-color: #49535d;
    color: white;
}

textarea.dark-input {
    height: 140px;
    resize: none;
}

.square-button {
    border-radius: 0;
    box-shadow: 0 0 10px 0 black;
}