
body { background-color: #444444; }

#container_form
{
    height: fit-content;
    padding: 15px;
    border: 1px solid black;
    box-shadow: 0 0 10px 0px black;
    margin-top: 10%;
    margin-bottom: 5%;
}

.dark-input
{
    background-color: #40454a;
    color: inherit;
    border: none;
    border-radius: 0;
    border-left: 3px solid white;
    outline: none;
}

.dark-input:focus
{
    background-color: #49535d;
    color: white;
}

textarea.dark-input
{
    height: 140px;
    resize: none;
}

input[type="file"].dark-input
{
    
}

.square-button
{
    border-radius: 0;
    box-shadow: 0 0 10px 0 black;
}

@media (max-width: 767px)
{
    #container_form { margin-top: 20%; }
}

