/* menu-bar */

#navbar { border-bottom: 2px solid #881313; }

.dropdown-menu
{
    background-color: #49535d;
    border-radius: 0;
}

.dropdown-item { color: white; }

.dropdown-item:hover, .dropdown-item:focus
{
    background-color: #566675;
    color: white;
    font-weight: bold;
}

.nav-link  { padding: 1rem; }
.navbar-nav .nav-item .btn { border-radius: 0; }

a.btn, button.btn { cursor: pointer; }

input[type="radio"]
{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
