
body { background-color: #f5f5f5; }

#container_table
{
    background-color: #afc6de;
    padding: 15px;
    border: 1px solid black;
    box-shadow: 0 0 10px 0px black;
    margin-top: 10%;
    margin-bottom: 5%;
}

#container_table .btn
{
    border-radius: 0;
    box-shadow: 0 0 10px 0 black;
}

.table-responsive  { max-height: 365px; }

.table  { width: 100rem; }

.td-ellipsis
{
    width: fit-content;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (max-width: 767px)
{
    #container_table { margin-top: 20%; }
}